{% assign prefix = "/assets/unreal/slate-gamedevday-2022/" | prepend: site.baseurl %}
<section
data-background-color="#4d2d91"
data-background-image="{{ prefix }}Facebook_1200x630.webp"
data-background-position="center"
data-background-size="70%"
>
</section>
<section data-markdown
data-background-image="{{ site.baseurl }}/assets/benui_logotype-white.svg"
data-background-size="10%"
data-background-position="bottom 1em left 1em"
data-background-opacity="0.3"
>
<script type="text/template">
# <span class="text">u up?</span>

## Making Text Hot
---
### Who am I?

<img src="{{ prefix }}titan-1.webp" class="r-stretch">

Unreal Engine UI Programmer

notes:
Test
---

<img src="{{ prefix }}benui-site-screenshot.webp" class="r-stretch">

Unreal tutorials at [benui.ca](https://benui.ca)
notes:
Website
---

- fonts
	- body, display
- localization
	- space for longer words
- uppercase, lowercase

---

Readability

---


- 50-80 characters

50 characters

```
Lorem ipsum dolor sit amet, consectetur adipiscing
elit. Mauris a tincidunt elit, non suscipit lacus.
Nullam sit amet tristique sem, in pulvinar sem.
Maecenas bibendum quam id elementum fermentum. In
hac habitasse platea dictumst. Donec vel lorem orci.
```

80 characters
```
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a tincidunt
elit, non suscipit lacus. Nullam sit amet tristique sem, in pulvinar sem.
Maecenas bibendum quam id elementum fermentum. In hac habitasse platea dictumst.
```

---

- write for your audience: confirm vs ok
- bring the text alive
	- animation
- inline formatting
	- bold
	- emphasis
	- icons
	- tooltips
- line spacing

---

THIS IS SOMETHING

This is something

---

Use inline formatting to make things readable

---
# Write for your audience

<div class="button">Customization</div>

<div class="button">Outfit</div>

Notes:
There are way too many games that write a bunch
---

## Thanks for listening!

</script>
</section>
